[core]
    editor = vim
[user]
    email = rh@nezasa.com
    name = Reto Hablützel
[help]
    autocorrect = 1
[push]
    default = simple
[pull]
    rebase = preserve
[color]
    diff = auto
    status = auto
    branch = auto
    grep = always
[color "grep"]
    filename = green
    linenumber = blue
    separator = white
[color "status"]
    changed = yellow
    added = green
    untracked = red
[status]
    submoduleSummary = true
    showUntrackedFiles = all
[merge]
    # merge with no argument merges with upstream
    defaultToUpstream = true 
[rebase]
    autosquash = true
[diff]
    compactionHeuristic = true
[diff "zip"]
    textconv = unzip -v
[diff "pdf"]
    textconv = pdfinfo
[diff "bin"]
    textconv = hexdump -v -C
[alias]
    ru           = rebase @{upstream}
    ud           = commit --amend --no-edit --date=now
    lala         = "!f() { echo 'dude, use lala'; exit 1; }; f"
    lon          = log --name-only
    onelog       = log --name-only
    dil          = diff --name-only
    pp           = "!f() { git pull && git push; }; f"
    recent       = "!f() { git branch --sort=-committerdate | grep rh_NTP --color=never | head -n 5; }; f"
    lala2        = status
    cam          = "!f() { echo 'dude, use gm'; exit 1; }; f"
    cam2         = "!f() { git add --all; git commit -m \"$1\"; }; f"
    issue        = "!f() { git checkout -b feature/rh_NTP-$1 develop; git push --set-upstream origin feature/rh_NTP-$1; }; f"
    tfissue      = "!f() { git checkout -b feature/rh_TF-$1 develop; git push --set-upstream origin feature/rh_TF-$1; }; f"
    cm           = commit -m
    car          = commit -a --amend -C HEAD
    co           = "!f() { echo 'dude, use go'; exit 1; }; f"
    co2          = checkout
    praise       = blame
    cp           = cherry-pick
    bu           = branch --no-merged
    su           = submodule update --init
    fm           = merge --ff-only
    fl           = push --force-with-lease
    prettygraph  = log --graph --simplify-by-decoration --pretty=format:'%d' --all
    showbranches = branch --list -r
    showtags     = tag --list
    difl         = diff --word-diff=color --word-diff-regex=.
    difw         = diff --word-diff=color
    difc         = diff --cached
    search       = log --grep
    ls           = log --oneline --decorate
    lr           = reflog show --date=relative
    hash         = "!f() { git log --oneline | grep $1 | awk '{print $1}'; }; f"
    lsu          = "!f() { git ls-files -v | grep '^[[:lower:]]'; }; f"
    sshow        = "!f() { git stash show stash^{/$*} -p; }; f"
    sapply       = "!f() { git stash apply stash^{/$*}; }; f"
[rerere]
	enabled = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
