[core]
    editor = vim
[user]
    email = rh@nezasa.com
    name = Reto Hablützel
[help]
    autocorrect = 1
[push]
    default = simple
[pull]
    rebase = preserve
[color]
    diff = auto
    status = auto
    branch = auto
    grep = always
[color "grep"]
    filename = green
    linenumber = blue
    separator = white
[color "status"]
    changed = yellow
    added = green
    untracked = red
[status]
    submoduleSummary = true
    showUntrackedFiles = all
[merge]
    # merge with no argument merges with upstream
    defaultToUpstream = true 
[rebase]
    autosquash = true
[diff "zip"]
    textconv = unzip -v
[diff "pdf"]
    textconv = pdfinfo
[diff "bin"]
    textconv = hexdump -v -C
[alias]
    lal          = status
    lala         = status
    cam          = "!f() { git add --all; git commit -m \"$1\"; }; f"
    issue        = "!f() { git checkout -b feature/rh_issue$1 develop; git push --set-upstream origin feature/rh_issue$1; }; f"
    cm           = commit -m
    car          = commit -a --amend -C HEAD
    co           = checkout
    cp           = cherry-pick
    bu           = branch --no-merged
    su           = submodule update --init
    fm           = merge --ff-only
    fl           = push --force-with-lease
    prettygraph  = log --graph --simplify-by-decoration --pretty=format:'%d' --all
    showbranches = branch --list -r
    showtags     = tag --list
    difw         = diff --word-diff=color --word-diff-regex=.
    difc         = diff --cached
    search       = log --grep
    ls           = log --oneline --decorate
    lr           = reflog show --date=relative
    hash         = "!f() { git log --oneline | grep $1 | awk '{print $1}'; }; f"
[rerere]
	enabled = 1
